body{
    background-color: #ffdcf5;
}

.history{
    height: 500px;
    width: 800px;
    padding: 20px;
    background-size: cover; 
    font-weight: bolder;  
    font-size: larger;
    color: purple;
}




    