body{
    background-color: lavender;
}

.heading{
    text-align: center;
    text-decoration: underline;
    font-weight: 900;
    font-size: xx-large;
    color: rgb(4, 42, 113);
}

p{
    padding-left: 400px;
    text-align: center;
    width: 500px;
    color: rgb(16, 43, 72);
    font-weight: 500;
    font-size: larger ;
}

div{  
    padding-left: 600px;  
}

div button{
    background-color: white;
    color: darkblue;
}