.image{
    position: relative;
}

.image img{ 
    width: 800px;
    height: 600px;
    display: block;
}


.image .mewar { 
    position: absolute; 
    top:225px; 
    left:200px; 
}

.image .mh { 
    position: absolute; 
    top:370px; 
    left:200px; 
}

.image .bihar { 
    position: absolute; 
    top:225px; 
    left:470px; 
}